export(calculateOccurences,cleave.end, cleave.start, coevar, lastElement, loadCacheNonlazy, addPercent,
       mergeVectors, outersect, substr.end, substr.start, table.line, untable, workspaceSize, nthLargest,
       pwGenerator)